body {
    margin: 0;
    background-color: #EAEDED;
    font-family: Arial, Helvetica, sans-serif;
}

.flex-logo {
    display: flex;
    background-color: #222F3E;
    align-items: center;
    height: 4rem;
}

.flex-logo img, .flex-footer img {
    width: 7rem;
    margin-left: 1.5rem;
}

.flex-barra {
    display: flex;
    background-color: #354758;
    height: 2rem;
    align-items: center;
}

.flex-barra div {
    margin-left: 1.5rem;
}

.flex-barra div a {
    text-decoration: none;
    color: #EAEDED;
}

.flex-barra-arancione {
    display: flex;
    background-color: #F56600;
    align-items: center;
    justify-content: center;
    height: 2rem;
    margin: 2rem;
}

.flex-barra-arancione div {
    color: #EAEDED;
}

.flex-immagine-verde {
    display: flex;
    position: relative;
    width: calc(100% - 4rem); /* Adjust for margin */
    height: auto;
    align-items: center;
    justify-content: center;
    margin: 0 2rem; /* Add lateral space */
}

.flex-immagine-verde .responsive-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #EAEDED;
}

.overlay h1, .overlay p {
    margin: 0;
}

.flex-galleria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 2rem;
    background-color: #FFFFFF;
}

.flex-galleria div {
    flex: 1 1 22%; /* Each image takes up 22% of the container width on large screens */
    margin: 0.5rem;
}

.flex-galleria img {
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(141, 141, 141);
    width: 100%;
    height: auto;
}

.incolla-galleria {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    margin: 2rem;
}

.incolla-galleria p {
    margin-left: 1rem;
    margin-right: 0.3rem;
    margin-bottom: 1rem;
}

.bold {
    font-weight: bold;
}

.mini-blu {
    color: #187c8e;
    font-size: 0.8rem;
}

.fix-immage {
    display: flex;
    margin: 2rem;
    height: 100%;
}

.fix-immage img {
    max-width: 100%;
}

.fix-under-immage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fix-under-immage p {
    margin-left: 1em;
}

.extra {
    margin: 0.7rem;
}

.flex-barra-2 {
    display: flex;
    background-color: #354758;
    height: 2rem;
    align-items: center;
    justify-content: center;
}

.flex-barra-2 a {
    color: white;
    font-size: 0.8rem;
}

.flex-footer {
    display: flex;
    background-color: #222F3E;
    align-items: center;
    justify-content: center;
    height: 9rem;
}

.link {
    text-decoration: none;
}

nav a:hover {
    color: #222F3E;
    background-color: #EAEDED;
    border-radius: 2px;
    box-shadow: 1px 1px 6px 1px #cee1e4;
}

.link-color:hover {
    color: #FFFFFF;
    background-color: #187c8e;
    border-radius: 2px;
    box-shadow: 2px 2px 12px 4px #68b4c1;
    padding: 6px;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .flex-galleria div {
        flex: 1 1 45%; /* Each image takes up 45% of the container width on small screens */
    }
}
